<div class="product-list-item">
  <div class="product-image">
    <a class="image-wrap" href="{{- product.url -}}">
      {% if product.featured_image %}
        {% assign product_images = product.images %}
        {% if product_images.size > 0 %}
          {% assign first_image = product_images[0] %}
          <img src="{{ first_image | img_url: '600x' }}" 
              srcset="{{ first_image | img_url: '300x' }} 300w,
                      {{ first_image | img_url: '600x' }} 600w,
                      {{ first_image | img_url: '900x' }} 900w"
              sizes="(max-width: 300px) 280px,
                      (max-width: 600px) 560px,
                      900px"
              loading="lazy" class="product-image {% if product_images.size > 1 %}first-image{% endif %}" alt="{{ product.title | escape }}" />
          {% if product_images.size > 1 %}
            
            {% assign has_video = false %}
            {% for media in product.media %}
              {% case media.media_type %}
                {% when 'video' %}
                  {% assign has_video = true %}
                  {{ media | video_tag: controls: false, loop: true, autoplay: true, width: "100%", loading: "lazy", class: "product-image video-show-front second-image" }}
              {% endcase %}
            {% endfor %}

            {% unless has_video %}
              {% assign second_image = product_images[1] %}
              <img src="{{ second_image | img_url: '600x' }}" 
                  srcset="{{ second_image | img_url: '300x' }} 300w,
                          {{ second_image | img_url: '600x' }} 600w,
                          {{ second_image | img_url: '900x' }} 900w"
                  sizes="(max-width: 300px) 280px,
                          (max-width: 600px) 560px,
                          900px"
                  loading="lazy" class="product-image second-image" alt="{{ product.title | escape }}" />
            {% endunless %}

          {% endif %}
        {% endif %}

      {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'demo-image product-image' }}
      {% endif %}
    </a>
    <button class="quick-view-button" data-product-id="{{- product.url -}}.js">
      {% render 'icon-eye' %} Quick View
    </button>
  </div>
  <div class="details">
    <span class="h4 subheadline product-title">{{- product.title | link_to: product.url }}</span>
    <div class="price caption">
      {% if product.compare_at_price > product.price %}
        <span class="original-price">
          {{ product.compare_at_price | money }}
        </span>
        <span class="discounted-price">
          {{ product.price | money }}
        </span>
      {% else %}
        <span class="regular-price">
          {{ product.price | money }}
        </span>
      {% endif %}
    </div>
    <div class="color-variant-in-list">
      {% if product.variants.size > 1 %}
        <div class="product-variant">
            {% for option in product.options_with_values %}
              {%- if option.name == "Color" -%}
                <div class="product-option">
                  <span class="caption-2">{{ option.name }} | </span>
                  {% assign maxToShow = 3 %}
                  {% assign remainingCount = option.values | size | minus: maxToShow %}
                  {% for value in option.values limit: maxToShow %}
                    <div class="product-list-colors {{ option.name }}-{{ value }}"></div>                                  
                  {% endfor %}
                  {% if remainingCount > 0 %}
                    <span class="callout">+{{ remainingCount }}</span>
                  {% endif %}                  
                </div>
              {%- endif -%}
            {% endfor %}
        </div>
      {% endif %}
    </div>    
    {% if product.compare_at_price_max > product.price %}
      <div class="save-amount callout">
        Save {{ product.compare_at_price_max | minus: product.price | money }}
      </div>
    {% endif %}
    <div class="left-badges">
      {% if settings.second_badge_on %}
        {% assign second_badge = settings.second_badge_tag %}
        {% if product.tags contains second_badge %}
          <div class="badge model-2">
          {{ settings.second_badge_text }}
          </div>
        {% endif %}
      {% endif %}
      {% if settings.sale_badge_on %}
        {% if product.compare_at_price_max > product.price %}
          <div class="badge model-1">
          {{ settings.sale_badge_text }}
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="right-banner">
      {% if settings.third_badge_on %}
        {% assign third_badge = settings.third_badge_tag %}
        {% if product.tags contains third_badge %}
          <div class="badge model-3">
          {{ settings.third_badge_text }}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>  
</div>
