
    <div class="product-image">
      <a class="image-wrap" href="{{- product.url -}}">
        {% if product.featured_image %}
        {{ product.featured_image | image_url: width: 600 | image_tag: loading: 'lazy', class: 'product-image' }}
        {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'demo-image product-image' }}
        {% endif %}
      </a>
      <button class="quick-view-button" data-product-id="{{- product.url -}}.js">
        {% render 'icon-eye' %} Quick View
      </button>
    </div>
    <div class="details">
      <span class="h4 subheadline product-title">{{- product.title | link_to: product.url }}</span>
      <div class="price caption">
        {% if product.compare_at_price > product.price %}
          <span class="original-price">
            {{ product.compare_at_price | money }}
          </span>
          <span class="discounted-price">
            {{ product.price | money }}
          </span>
        {% else %}
          <span class="regular-price">
            {{ product.price | money }}
          </span>
        {% endif %}
      </div>
      <div class="color-variant-in-list">
        {% if product.variants.size > 1 %}
          <div class="product-variant">
              {% for option in product.options_with_values %}
                {%- if option.name == "Color" -%}
                  <div class="product-option">
                    <span class="caption-2">{{ option.name }} | </span>
                    {% assign maxToShow = 3 %}
                    {% assign remainingCount = option.values | size | minus: maxToShow %}
                    {% for value in option.values limit: maxToShow %}
                      <div class="product-list-colors {{ option.name }}-{{ value }}"></div>                                  
                    {% endfor %}
                    {% if remainingCount > 0 %}
                      <span class="callout">+{{ remainingCount }}</span>
                    {% endif %}                  
                  </div>
                {%- endif -%}
              {% endfor %}
          </div>
        {% endif %}
      </div>   

      
      
      
      {% if product.compare_at_price_max > product.price %}
        <div class="save-amount callout">
          Save {{ product.compare_at_price_max | minus: product.price | money }}
        </div>
      {% endif %}

        
        {% assign product_metafield = product.metafields.custom %}
        {% assign repeat_val = product_metafield.front_custom_icons %}
        {% assign pasive_val = 5 | minus: repeat_val %}
        {% if product_metafield.front_custom_icons %}
          <div class="callout custom-field-data">{{ settings.custom_prop_data_title }}</div>
          {% for i in (1..repeat_val) %}
            {% if settings.light_icon != blank %}
              {{ settings.light_icon }}
            {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73476 5.50113C4.83987 5.60625 4.97883 5.65881 5.11635 5.65881C5.25531 5.65881 5.39284 5.60625 5.49867 5.50113C5.70964 5.28945 5.70964 4.94745 5.49867 4.73649L4.79955 4.03881C4.58859 3.82785 4.24659 3.82857 4.03563 4.03881C3.82467 4.25049 3.82467 4.59177 4.03563 4.80273L4.73476 5.50113Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73476 5.50113C4.83987 5.60625 4.97883 5.65881 5.11635 5.65881C5.25531 5.65881 5.39284 5.60625 5.49867 5.50113C5.70964 5.28945 5.70964 4.94745 5.49867 4.73649L4.79955 4.03881C4.58859 3.82785 4.24659 3.82857 4.03563 4.03881C3.82467 4.25049 3.82467 4.59177 4.03563 4.80273L4.73476 5.50113Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99999 4.04638C9.29807 4.04638 9.53999 3.80446 9.53999 3.50638V2.51998C9.53999 2.2219 9.29807 1.97998 8.99999 1.97998C8.70191 1.97998 8.45999 2.2219 8.45999 2.51998V3.50638C8.45999 3.80446 8.70191 4.04638 8.99999 4.04638Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99999 4.04638C9.29807 4.04638 9.53999 3.80446 9.53999 3.50638V2.51998C9.53999 2.2219 9.29807 1.97998 8.99999 1.97998C8.70191 1.97998 8.45999 2.2219 8.45999 2.51998V3.50638C8.45999 3.80446 8.70191 4.04638 8.99999 4.04638Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.04785 8.99996C4.04785 8.70188 3.80593 8.45996 3.50785 8.45996H2.52001C2.22193 8.45996 1.98001 8.70188 1.98001 8.99996C1.98001 9.29804 2.22193 9.53996 2.52001 9.53996H3.50785C3.80593 9.53996 4.04785 9.29804 4.04785 8.99996Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.04785 8.99996C4.04785 8.70188 3.80593 8.45996 3.50785 8.45996H2.52001C2.22193 8.45996 1.98001 8.70188 1.98001 8.99996C1.98001 9.29804 2.22193 9.53996 2.52001 9.53996H3.50785C3.80593 9.53996 4.04785 9.29804 4.04785 8.99996Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8833 5.65905C13.0208 5.65905 13.1598 5.60649 13.2649 5.50137L13.964 4.80297C14.175 4.59201 14.175 4.25001 13.964 4.03905C13.7531 3.82881 13.4111 3.82809 13.2001 4.03905L12.5017 4.73673C12.2908 4.94769 12.2908 5.28969 12.5017 5.50065C12.6068 5.60649 12.7451 5.65905 12.8833 5.65905Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8833 5.65905C13.0208 5.65905 13.1598 5.60649 13.2649 5.50137L13.964 4.80297C14.175 4.59201 14.175 4.25001 13.964 4.03905C13.7531 3.82881 13.4111 3.82809 13.2001 4.03905L12.5017 4.73673C12.2908 4.94769 12.2908 5.28969 12.5017 5.50065C12.6068 5.60649 12.7451 5.65905 12.8833 5.65905Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2651 12.4987C13.0534 12.2885 12.7114 12.2885 12.5012 12.4987C12.2902 12.7104 12.2902 13.0524 12.5012 13.2634L13.2003 13.9611C13.3062 14.0662 13.4444 14.1187 13.5819 14.1187C13.7209 14.1187 13.8584 14.0662 13.9642 13.9611C14.1752 13.7494 14.1752 13.4081 13.9642 13.1971L13.2651 12.4987Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2651 12.4987C13.0534 12.2885 12.7114 12.2885 12.5012 12.4987C12.2902 12.7104 12.2902 13.0524 12.5012 13.2634L13.2003 13.9611C13.3062 14.0662 13.4444 14.1187 13.5819 14.1187C13.7209 14.1187 13.8584 14.0662 13.9642 13.9611C14.1752 13.7494 14.1752 13.4081 13.9642 13.1971L13.2651 12.4987Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73476 12.4987L4.03563 13.1971C3.82467 13.4081 3.82467 13.7494 4.03563 13.9611C4.14147 14.0662 4.27899 14.1187 4.41796 14.1187C4.55547 14.1187 4.69371 14.0662 4.79955 13.9611L5.49867 13.2634C5.70964 13.0524 5.70964 12.7104 5.49867 12.4987C5.28844 12.2885 4.94644 12.2885 4.73476 12.4987Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73476 12.4987L4.03563 13.1971C3.82467 13.4081 3.82467 13.7494 4.03563 13.9611C4.14147 14.0662 4.27899 14.1187 4.41796 14.1187C4.55547 14.1187 4.69371 14.0662 4.79955 13.9611L5.49867 13.2634C5.70964 13.0524 5.70964 12.7104 5.49867 12.4987C5.28844 12.2885 4.94644 12.2885 4.73476 12.4987Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.48 8.45996H14.4921C14.1941 8.45996 13.9521 8.70188 13.9521 8.99996C13.9521 9.29804 14.1941 9.53996 14.4921 9.53996H15.48C15.7781 9.53996 16.02 9.29804 16.02 8.99996C16.02 8.70188 15.7781 8.45996 15.48 8.45996Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.48 8.45996H14.4921C14.1941 8.45996 13.9521 8.70188 13.9521 8.99996C13.9521 9.29804 14.1941 9.53996 14.4921 9.53996H15.48C15.7781 9.53996 16.02 9.29804 16.02 8.99996C16.02 8.70188 15.7781 8.45996 15.48 8.45996Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99999 13.9534C8.70191 13.9534 8.45999 14.1953 8.45999 14.4934V15.4798C8.45999 15.7778 8.70191 16.0198 8.99999 16.0198C9.29807 16.0198 9.53999 15.7778 9.53999 15.4798V14.4934C9.53999 14.1953 9.29807 13.9534 8.99999 13.9534Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99999 13.9534C8.70191 13.9534 8.45999 14.1953 8.45999 14.4934V15.4798C8.45999 15.7778 8.70191 16.0198 8.99999 16.0198C9.29807 16.0198 9.53999 15.7778 9.53999 15.4798V14.4934C9.53999 14.1953 9.29807 13.9534 8.99999 13.9534Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00001 5.61572C7.13592 5.61572 5.6196 7.13348 5.6196 8.99974C5.6196 10.866 7.13592 12.3837 9.00001 12.3837C10.8648 12.3837 12.3811 10.866 12.3811 8.99974C12.3811 7.13348 10.8648 5.61572 9.00001 5.61572Z" fill="#FCC842"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00001 5.61572C7.13592 5.61572 5.6196 7.13348 5.6196 8.99974C5.6196 10.866 7.13592 12.3837 9.00001 12.3837C10.8648 12.3837 12.3811 10.866 12.3811 8.99974C12.3811 7.13348 10.8648 5.61572 9.00001 5.61572Z" fill="#FCC842"/>
              </svg>
            {% endif %}  
          {% endfor %}
          {% for i in (1..pasive_val) %}
            {% if settings.dark_icon != blank %}
              {{ settings.dark_icon }}
            {% else %}
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.32">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73476 5.50113C4.83987 5.60625 4.97883 5.65881 5.11635 5.65881C5.25531 5.65881 5.39284 5.60625 5.49867 5.50113C5.70964 5.28945 5.70964 4.94745 5.49867 4.73649L4.79955 4.03881C4.58859 3.82785 4.24659 3.82857 4.03563 4.03881C3.82467 4.25049 3.82467 4.59177 4.03563 4.80273L4.73476 5.50113Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73476 5.50113C4.83987 5.60625 4.97883 5.65881 5.11635 5.65881C5.25531 5.65881 5.39284 5.60625 5.49867 5.50113C5.70964 5.28945 5.70964 4.94745 5.49867 4.73649L4.79955 4.03881C4.58859 3.82785 4.24659 3.82857 4.03563 4.03881C3.82467 4.25049 3.82467 4.59177 4.03563 4.80273L4.73476 5.50113Z" fill="black" fill-opacity="0.2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99999 4.04638C9.29807 4.04638 9.53999 3.80446 9.53999 3.50638V2.51998C9.53999 2.2219 9.29807 1.97998 8.99999 1.97998C8.70191 1.97998 8.45999 2.2219 8.45999 2.51998V3.50638C8.45999 3.80446 8.70191 4.04638 8.99999 4.04638Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99999 4.04638C9.29807 4.04638 9.53999 3.80446 9.53999 3.50638V2.51998C9.53999 2.2219 9.29807 1.97998 8.99999 1.97998C8.70191 1.97998 8.45999 2.2219 8.45999 2.51998V3.50638C8.45999 3.80446 8.70191 4.04638 8.99999 4.04638Z" fill="black" fill-opacity="0.2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.04785 8.99996C4.04785 8.70188 3.80593 8.45996 3.50785 8.45996H2.52001C2.22193 8.45996 1.98001 8.70188 1.98001 8.99996C1.98001 9.29804 2.22193 9.53996 2.52001 9.53996H3.50785C3.80593 9.53996 4.04785 9.29804 4.04785 8.99996Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.04785 8.99996C4.04785 8.70188 3.80593 8.45996 3.50785 8.45996H2.52001C2.22193 8.45996 1.98001 8.70188 1.98001 8.99996C1.98001 9.29804 2.22193 9.53996 2.52001 9.53996H3.50785C3.80593 9.53996 4.04785 9.29804 4.04785 8.99996Z" fill="black" fill-opacity="0.2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8833 5.65905C13.0208 5.65905 13.1598 5.60649 13.2649 5.50137L13.964 4.80297C14.175 4.59201 14.175 4.25001 13.964 4.03905C13.7531 3.82881 13.4111 3.82809 13.2001 4.03905L12.5017 4.73673C12.2908 4.94769 12.2908 5.28969 12.5017 5.50065C12.6068 5.60649 12.7451 5.65905 12.8833 5.65905Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8833 5.65905C13.0208 5.65905 13.1598 5.60649 13.2649 5.50137L13.964 4.80297C14.175 4.59201 14.175 4.25001 13.964 4.03905C13.7531 3.82881 13.4111 3.82809 13.2001 4.03905L12.5017 4.73673C12.2908 4.94769 12.2908 5.28969 12.5017 5.50065C12.6068 5.60649 12.7451 5.65905 12.8833 5.65905Z" fill="black" fill-opacity="0.2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2651 12.4987C13.0534 12.2885 12.7114 12.2885 12.5012 12.4987C12.2902 12.7104 12.2902 13.0524 12.5012 13.2634L13.2003 13.9611C13.3062 14.0662 13.4444 14.1187 13.5819 14.1187C13.7209 14.1187 13.8584 14.0662 13.9642 13.9611C14.1752 13.7494 14.1752 13.4081 13.9642 13.1971L13.2651 12.4987Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2651 12.4987C13.0534 12.2885 12.7114 12.2885 12.5012 12.4987C12.2902 12.7104 12.2902 13.0524 12.5012 13.2634L13.2003 13.9611C13.3062 14.0662 13.4444 14.1187 13.5819 14.1187C13.7209 14.1187 13.8584 14.0662 13.9642 13.9611C14.1752 13.7494 14.1752 13.4081 13.9642 13.1971L13.2651 12.4987Z" fill="black" fill-opacity="0.2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73476 12.4987L4.03563 13.1971C3.82467 13.4081 3.82467 13.7494 4.03563 13.9611C4.14147 14.0662 4.27899 14.1187 4.41796 14.1187C4.55547 14.1187 4.69371 14.0662 4.79955 13.9611L5.49867 13.2634C5.70964 13.0524 5.70964 12.7104 5.49867 12.4987C5.28844 12.2885 4.94644 12.2885 4.73476 12.4987Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.73476 12.4987L4.03563 13.1971C3.82467 13.4081 3.82467 13.7494 4.03563 13.9611C4.14147 14.0662 4.27899 14.1187 4.41796 14.1187C4.55547 14.1187 4.69371 14.0662 4.79955 13.9611L5.49867 13.2634C5.70964 13.0524 5.70964 12.7104 5.49867 12.4987C5.28844 12.2885 4.94644 12.2885 4.73476 12.4987Z" fill="black" fill-opacity="0.2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.48 8.45996H14.4921C14.1941 8.45996 13.9521 8.70188 13.9521 8.99996C13.9521 9.29804 14.1941 9.53996 14.4921 9.53996H15.48C15.7781 9.53996 16.02 9.29804 16.02 8.99996C16.02 8.70188 15.7781 8.45996 15.48 8.45996Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.48 8.45996H14.4921C14.1941 8.45996 13.9521 8.70188 13.9521 8.99996C13.9521 9.29804 14.1941 9.53996 14.4921 9.53996H15.48C15.7781 9.53996 16.02 9.29804 16.02 8.99996C16.02 8.70188 15.7781 8.45996 15.48 8.45996Z" fill="black" fill-opacity="0.2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99999 13.9534C8.70191 13.9534 8.45999 14.1953 8.45999 14.4934V15.4798C8.45999 15.7778 8.70191 16.0198 8.99999 16.0198C9.29807 16.0198 9.53999 15.7778 9.53999 15.4798V14.4934C9.53999 14.1953 9.29807 13.9534 8.99999 13.9534Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99999 13.9534C8.70191 13.9534 8.45999 14.1953 8.45999 14.4934V15.4798C8.45999 15.7778 8.70191 16.0198 8.99999 16.0198C9.29807 16.0198 9.53999 15.7778 9.53999 15.4798V14.4934C9.53999 14.1953 9.29807 13.9534 8.99999 13.9534Z" fill="black" fill-opacity="0.2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00001 5.61572C7.13592 5.61572 5.6196 7.13348 5.6196 8.99974C5.6196 10.866 7.13592 12.3837 9.00001 12.3837C10.8648 12.3837 12.3811 10.866 12.3811 8.99974C12.3811 7.13348 10.8648 5.61572 9.00001 5.61572Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.00001 5.61572C7.13592 5.61572 5.6196 7.13348 5.6196 8.99974C5.6196 10.866 7.13592 12.3837 9.00001 12.3837C10.8648 12.3837 12.3811 10.866 12.3811 8.99974C12.3811 7.13348 10.8648 5.61572 9.00001 5.61572Z" fill="black" fill-opacity="0.2"/>
                </g>
              </svg>
            {% endif %}                    
          {% endfor %}
        {% endif %}
      <div class="left-badges">
        {% if settings.second_badge_on %}
          {% assign second_badge = settings.second_badge_tag %}
          {% if product.tags contains second_badge %}
            <div class="badge model-2">
            {{ settings.second_badge_text }}
            </div>
          {% endif %}
        {% endif %}
        {% if settings.sale_badge_on %}
          {% if product.compare_at_price_max > product.price %}
            <div class="badge model-1">
            {{ settings.sale_badge_text }}
            </div>
          {% endif %}
        {% endif %}
      </div>
      <div class="right-banner">
        {% if settings.third_badge_on %}
          {% assign third_badge = settings.third_badge_tag %}
          {% if product.tags contains third_badge %}
            <div class="badge model-3">
            {{ settings.third_badge_text }}
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>  
  