<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
    /*swatche colors*/
    .product-option.color-options label {
      text-indent: -5000px;
      {% if settings.auto-width-on-of == "auto-width-of" %} 
            width: {{ settings.box_size_w }}px;
        {% else %}
            width: auto;
            padding: 0 calc({{ settings.box_size_h }}px / 2);
        {% endif %} 
    }
    .product-option label {
        min-width: {{ settings.box_size_w }}px;
        height: {{ settings.box_size_h }}px;
        line-height: {{ settings.box_size_h }}px;
        border: 1px solid #D9D9D9;
        display: inline-block;
        border-radius: {{ settings.box_radius }}%;
        text-align: center;
        overflow: hidden;
        margin-top: 5px;
        padding: 0 10px;
        position: relative;
    }
    .product-option label.disabled {
      opacity: 0.5;
    }
    .product-option label.disabled:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right, transparent calc(50% - 1px), #FB7D6D 0, #FB7D6D calc(50% + 1px), transparent 0);
    }
    .product-option input:checked+label {
      border: 1px solid var(--body-color);
    }
    {% assign swatch_lines = settings.swatches | split: ',' %}
    {% for line in swatch_lines %}
      {% assign color_value = line | split: ':' %}
      label[for="Color-{{ color_value[0] | strip }}"], 
      .product-list-colors.Color-{{ color_value[0] | strip }}, 
      label.Color-{{ color_value[0] | strip }} {
        background-color: {{ color_value[1] | strip }};
      }       
    {% endfor %}

    
    /**/
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      

      

      :root {
        
        --font-body-family: {{ settings.type_body_font.family }};
        --font-body-size: {{ settings.body_scale | divided_by: 100.0 }};
        /*title*/
        --font-title-family: {{ settings.type_header_font.family }};
        --font-title-size: {{ settings.heading_scale | divided_by : 100.0 }};
        /*sub-title*/
        --font-sub-title-family: {{ settings.sub_type_header_font.family }};
        --font-sub-title-size: {{ settings.sub_heading_scale | divided_by : 100.0 }};
        /*color*/
        --body-color: {{ settings.general_color }};
        /*button sizes*/
        --font-button-size: {{ settings.button_scale | divided_by : 100.0 }};
        /*button 1 renk*/
        --button-first-color : {{ settings.button_first_color }};
        --button-first-color_bg : {{ settings.button_first_color_bg }};
        /*button 2 renk*/
        --button-second-color : {{ settings.button_second_color }};
        --button-second-color_bg : {{ settings.button_second_color_bg }};
        /*button 3 renk*/
        --button-third-color : {{ settings.button_third_color }};
        --button-third-color_bg : {{ settings.button_third_color_bg }};
        --button-extra-color : {{ settings.button_extra_color }};
        --button-extra-color_bg : {{ settings.button_extra_color_bg }};
        /*menu fon size*/
        --font-menu-size: {{ settings.menu_scale | divided_by : 100.0 }};

        /*badges*/
        --badge-one-color : {{ settings.sale_badge_color }};
        --badge-two-color : {{ settings.second_badge_color }};
        --badge-three-color : {{ settings.third_badge_color }};



        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};
        --font-heading-family:  {{ settings.type_header_font.family }}, 
                                {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
        
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};
      }
    {% endstyle %}

    {{ 'style.css' | asset_url | stylesheet_tag }}

    {% if settings.hide_them_all %}
      {% if customer.id == null %}
        {{ 'hide-all.css' | asset_url | stylesheet_tag }}
      {% endif %}
    {% endif %}
    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
  </head>

  <body>
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>
    {% liquid if settings.show_cart_drawer 
       unless request.page_type == 'cart' 
         render 'cart-drawer' 
       endunless 
     endif %}
    
    {% sections 'custom-group' %}

    {% if request.page_type == 'collection' %}
      {% render "filter" %}
    {% endif %}
    <header class="site-header" id="site-header">
      {% sections 'header-group' %}
    </header>
    
    <main id="MainContent" class="main-content{% if settings.product-image-animation %} product-image-animation{% endif %}{% if settings.quick-look-animation %} quick-look-animation{% endif %}" role="main" tabindex="-1">
      {{ content_for_layout }} 
    </main>
    {% sections 'footer-group' %}

    

    
  
  </body>
</html>
