{{ 'article.css' | asset_url | stylesheet_tag }}
{{ 'socials.css' | asset_url | stylesheet_tag }}
<article class="single-article">
  {%- if section.settings.show_breadcrumb -%}
    {%- render 'breadcrumb' -%}
  {%- endif -%}
  <header class="text-center">
    {%- if section.settings.blog_show_header != blank -%}
    <h3 class="large">{{ article.title }}</h3>
    {%- endif -%}
    {%- if section.settings.blog_show_author -%}
      <span class="callout">
        Posted by {{ article.author }}
      </span>
    {%- endif -%}
    {%- if section.settings.blog_show_date -%}
      <span class="callout">
        on {{ article.published_at | date: '%B %d, %Y' }}
      </span>
    {%- endif -%}
  </header>
  <div class="section-{{ section.id }}">
      {{ article.content }}
  </div>
  <div class="post-tags-shares">
    {%- if section.settings.show_tags -%}
        <div class="post-tags">
          {%- if article.tags.size > 0 -%}
            <ul aria-label="Tags">
              {%- for tag in article.tags -%}
                <li>
                  <a class="caption" href="{{ blog.url }}/tagged/{{ tag | handle }}">
                    {{ tag }}
                  </a>
                </li>  
              {%- endfor -%}
            </ul>          
          {%- endif -%}
        </div>
    {%- endif -%}
    {%- if section.settings.show_shares -%}
      <div class="post-shares">
        <div class="socilas">
          <span class="subheadline">Share</span>
          {% assign full_url = request.host | append: request.path %}
          <ul>
            <li>
              <a aria-label="facebook-share" href="https://www.facebook.com/sharer/sharer.php?u={{- full_url -}}" target="_blank">
                {% render 'icon-facebook' %}
              </a>
            </li>
            <li>
              <a aria-label="twitter-share" href="https://twitter.com/intent/tweet?text=CURVE%20W%20JACKET&url={{- full_url -}}" target="_blank">
                {% render 'icon-twitter' %}
              </a>
            </li>
            <li>
              <a aria-label="pinterest-share" target="_blank" href="//pinterest.com/pin/create/button/?url={{ full_url }}&amp;media={{ product.featured_image | image_url: width: 1000 }}&amp;description={{ product.title | escape }}">
                {% render 'icon-pinterest' %}
              </a>
            </li>
            <li>|</li>
            <li>
              <span id="copyClip" onclick="copyURLToClipboard()" aria-label="copy-link">
                {% render 'icon-link' %}
              </span>
            </li>
          </ul>     
        </div>  
      </div>
    {%- endif -%}   
  </div>
  {%- if section.settings.show_comments -%}
    <footer>
      <div class="article-comments">
        <h3 class="subheadline">Leave a comment</h3>
        <p class="callout no-gap">Your email address will not be published..</p>
        {% form 'new_comment', article %}
          {{ form.errors | default_errors }}
          <div class="comment">
            <textarea placeholder="Comment" name="comment[body]">{{ form.body }}</textarea>
          </div>
          <div class="name">
            <input  placeholder="Name" type="text" name="comment[author]" value="{{ form.author }}">
          </div>
          <div class="email">
            <input  placeholder="E-mail" type="email" name="comment[email]" value="{{ form.email }}">
          </div>
          <input class="button model-2 full" type="submit" value="POST COMMENT">
        {% endform %}
  
        {% paginate article.comments by 20 %}
          {% for comment in article.comments %}
            <div class="each-comment">
              <span class="callout">{{ comment.created_at | date: '%B %d, %Y' }}</span>
              <h4 class="h4 small">{{ comment.author }}</h4>
              {{ comment.content }}
            </div>            
          {% endfor %}
          {{ paginate | default_pagination }}
        {% endpaginate %}
      </div>
    </footer>
  {%- endif -%} 
</article>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>
{% schema %}
{
  "name": "t:sections.article_section.article_section_name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_breadcrumb",
      "label": "Show breadcrumb",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_header",
      "label": "Show header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shares",
      "label": "Show shares",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "label": "Show comments",
      "default": true
    }
  ]
}
{% endschema %}