{%- style -%}
.section-{{ section.id }} .hero-bg {
  height: {% if section.settings.full_height_mobil %} 100vh {% else %} {{ section.settings.collection_height_mobile }}px {% endif %};
  overflow: hidden;
}
.section-{{ section.id }} .hero-bg .super {
    color: {{ section.settings.super_color }};
    font-size: {{ section.settings.super_font_size }}px;
    line-height: {{ section.settings.super_line_height }}px;
    font-weight: 700;
    {% if section.settings.super_opacity == 100 %}
        opacity: 1;
    {% else %}
        opacity: 0.{{ section.settings.super_opacity }};
    {% endif %}
}
.section-{{ section.id }} .hero-bg h1 {
    color: {{ section.settings.heading_color }};
    font-size: {{ section.settings.heading_font_size }}px;
    line-height: {{ section.settings.heading_line_height }}px;
    font-weight: 700;
}
.section-{{ section.id }} .hero-bg .text {
    color: {{ section.settings.sub_heading_color }};
    font-size: {{ section.settings.sub_heading_font_size }}px;
    line-height: {{ section.settings.sub_heading_line_height }}px;
}
.section-{{ section.id }} .hero-bg .text-on-hero {
  position: absolute;
  max-width: {{ section.settings.section_width }}px;
  padding: {{ section.settings.gap_from_sides }}px;
  z-index: 2;
}
.section-{{ section.id }} .overlay {
  background-color: {{ section.settings.overlay_color }};
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  {% if section.settings.overlay_color_opacity == 100 %}
        opacity: 1;
  {% else %}
      opacity: 0.{{ section.settings.overlay_color_opacity }};
  {% endif %}
  z-index: 2;
}

.section-{{ section.id }} video {
  object-fit: cover;
  min-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.text-on-hero.top-left {
    top: 0;
    left: 0;
    text-align: left;
}
.text-on-hero.top-center {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.text-on-hero.top-right {
    top: 0;
    right: 0;
    text-align: right;
}
.text-on-hero.mid-left {
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.text-on-hero.mid-center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.text-on-hero.mid-right {
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.text-on-hero.bottom-left {
    bottom: 0;
    left: 0;
    text-align: left;
}
.text-on-hero.bottom-center {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.text-on-hero.bottom-right {
    bottom: 0;
    right: 0;
    text-align: right;
}
.text-on-hero .button-area {
    margin: 20px 0;
}
@media only screen and (min-width: 640px) {
  .section-{{ section.id }} .hero-bg {
    height: {% if section.settings.full_height_desktop %} 100vh {% else %} {{ section.settings.collection_height }}px {% endif %};
  }
}

{%- endstyle -%}
<div class="main-content-area section-{{ section.id }}  {% unless section.settings.animation_onof %}animation-fadeIn{% endunless %}">
    <div class="hero-bg">
      {%- if section.settings.video -%}
        {{ section.settings.video
          | video_tag:
            image_size: '1100x',
            autoplay: true,
            controls: false,
            loop: true,
            muted: true
        }} 
        {%- else -%}  
          {% if section.settings.background_image %}
            {{ section.settings.background_image | image_url: width: 2000 | image_tag: loading: 'lazy', class: 'hero-bg' }}
          {% else if %}
              {{ 'lifestyle-2' | placeholder_svg_tag: 'demo-image hero-bg' }}
          {% endif %}
        {% endif %}
        <div class="overlay"></div>       
        <div class="text-on-hero {{ section.settings.text_position }}">
            {%- for block in section.blocks -%}
              {% case block.type %}
                  {%- when 'super_heading' -%}
                      <h1 class="super">{{ block.settings.super }}</h1>
                  {%- when 'heading' -%}
                      <h1>{{ block.settings.heading }}</h1>
                  {%- when 'text' -%}
                      <div class="text">{{ block.settings.sub_heading }}</div>
                  {%- when 'button' -%}
                      <div class="button-area">
                          <a href="{{ block.settings.button_url }}" class="button {{ block.settings.button_style }}">{{ block.settings.button_text }}</a>
                      </div>
              {%- endcase -%}
            {%- endfor -%}
        </div>
    </div>
</div>
{% schema %}
{
  "name": "t:sections.banner_section.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "collection_height",
      "min": 500,
      "max": 1500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.section_height",
      "default": 640
    },
    {
      "type": "checkbox",
      "id": "full_height_desktop",
      "label": "Set to full-height on desktop",
      "info": "If selected, this will override the section height slider",
      "default": false
    },
    {
      "type": "range",
      "id": "collection_height_mobile",
      "min": 300,
      "max": 800,
      "step": 20,
      "unit": "px",
      "label": "Section height on mobile",
      "default": 400
    },
    {
      "type": "checkbox",
      "id": "full_height_mobil",
      "label": "Mobile full-height",
      "info": "If selected, this will override the section height slider for mobile",
      "default": false
    },
    {
      "type": "range",
      "id": "section_width",
      "min": 400,
      "max": 1400,
      "step": 10,
      "unit": "px",
      "label": "Text area width",
      "default": 1400
    },
    {
      "type": "select",
      "id": "text_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.all.text_position.top_left"
        },
        {
          "value": "top-center",
          "label": "t:sections.all.text_position.top_center"
        },
        {
          "value": "top-right",
          "label": "t:sections.all.text_position.top_right"
        },
        {
          "value": "mid-left",
          "label": "t:sections.all.text_position.mid_left"
        },
        {
          "value": "mid-center",
          "label": "t:sections.all.text_position.mid_center"
        },
        {
          "value": "mid-right",
          "label": "t:sections.all.text_position.mid_right"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.all.text_position.bottom_left"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.all.text_position.bottom_center"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.all.text_position.bottom_right"
        }
      ],
      "default": "bottom-center",
      "label": "t:sections.all.content_position"
    },
    {
      "type": "color",
      "id": "super_color",
      "label": "Super",
      "info": "Insert a super text block to view changes",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "super_opacity",
      "min": 10,
      "max": 100,
      "step": 10,
      "label": "t:sections.all.super_op",
      "default": 40
    },
    {
      "type": "range",
      "id": "super_font_size",
      "min": 40,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.super_size",
      "default": 300
    },
    {
      "type": "range",
      "id": "super_line_height",
      "min": 40,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Line height",
      "default": 350
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.all.heading",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "min": 20,
      "max": 120,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.heading_font_size",
      "default": 48
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "min": 20,
      "max": 120,
      "step": 1,
      "unit": "px",
      "label": "Heading line height",
      "default": 60
    },
    {
      "type": "color",
      "id": "sub_heading_color",
      "label": "Subheading",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "sub_heading_font_size",
      "min": 20,
      "max": 120,
      "step": 1,
      "unit": "px",
      "label": "Subheading font size",
      "default": 20
    },
    {
      "type": "range",
      "id": "sub_heading_line_height",
      "min": 20,
      "max": 120,
      "step": 1,
      "unit": "px",
      "label": "Subheading line height",
      "default": 30
    },
    {
      "type": "range",
      "id": "gap_from_sides",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Text area's gap from content position",
      "default": 60
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_color_opacity",
      "min": 10,
      "max": 100,
      "step": 10,
      "label": "Overlay color opacity",
      "default": 40
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "Video will override background image"
    },
    {
      "type": "checkbox",
      "id": "animation_onof",
      "label": "Hide animation",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "super_heading",
      "name": "Super",
      "settings": [
        {
          "type": "text",
          "id": "super",
          "label": "Super Text",
          "default": "HERO"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Subheading",
      "settings": [
        {
          "type": "richtext",
          "id": "sub_heading",
          "label": "Subheading",
          "default": "<p>Subheading</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "Button Label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "model-1",
              "label": "t:settings_schema.typography.settings.colors.button_1_color_1"
            },
            {
              "value": "model-2",
              "label": "t:settings_schema.typography.settings.colors.button_2_color_1"
            },
            {
              "value": "model-3",
              "label": "t:settings_schema.typography.settings.colors.button_3_color_1"
            },
            {
              "value": "model-4",
              "label": "t:settings_schema.typography.settings.colors.button_4_color_1"
            }
          ],
          "label": "t:sections.all.button_style",
          "default": "model-4"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner",
      "blocks": [
        {
          "type": "super_heading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}