{{ 'cart-page.css' | asset_url | stylesheet_tag }}
<script id="format-money" src="{{ 'format-money.js' | asset_url }}" defer></script>
<script src="{{ 'cart.js' | asset_url }}" defer></script>

<div class="cart-page" data-money-format = {{ shop.money_format }}>
    <div class="cart-page-header text-center">
        <h2 class="large">{{ section.settings.cart_header }}</h1>
    </div>
    {% if settings.free_shiping %}
        {%- liquid 
          assign shiping_val = settings.free_shiping_val
          assign total_val = cart.total_price | divided_by: 100.0 
          assign pers_val = total_val | divided_by: shiping_val
          assign pers_val_bar = pers_val | times: 100.0
          assign left_val = shiping_val | minus: total_val
        -%}
          {% if left_val > 0 %}
          <div class="shipping-away">
            <p>You are away from free shipping by only</p><span class="away-from-free">{{ shop.currency }}{{ left_val }}</span>
          </div>
          
          {% endif %}
        <div class="shipping-away-bar">
            <div class="fill" style="width: {{ pers_val_bar }}%;">
                {% render 'icon-truck' %}
            </div>
        </div>
    {% endif %}
    <div class="cart-page-main">
        {% if cart.empty? %}
          <div class="empty-cart text-center">
            <h3>{{ section.settings.cart_header_empty }}</h3>
            <p>{{ section.settings.cart_text_empty }}</p>
            <a href="{{ section.settings.cart_button_link_empty }}" class="button {{ section.settings.button_style }}">{{ section.settings.cart_button_empty }}</a>
          </div>
        {% else %}
            {% form 'cart', cart %}    
            <div class="cart-items-titles">
                <div class="product-deatails-title">Product</div>
                <div class="product-deatails-quantity hidden-mobile">Quantity</div>
                <div class="product-deatails-price text-center hidden-mobile">Price</div>
                <div class="product-deatails-subtotal text-right hidden-mobile">Subtotal</div>
            
            </div>
            
                <div class="cart-items">
                    {% for item in cart.items %}
                      {% render 'cart-item', item: item %}
                        
                    {% endfor %}
                </div>
                <div class="cart-summary">
                  <span class="h4 small">Cart summary</span>
                  <div class="cart-notes">
                    <textarea name="note" placeholder="">{{ cart.note }}</textarea>
                  </div>
                  <div class="totals">
                    <span>Discount:</span>
                    <span id="total-discount">{{ cart.total_discount | money }}</span>
                  </div>
                  <div class="totals">
                    <span>Total:</span>
                    <span id="total-price">{{ cart.total_price | money }}</span>
                  </div>
                  <button type="submit" name="checkout" class="button model-2 full">Proceed to Checkout</a>
                </div>


                
              </div>
            
            {% endform %}
        {% endif %}
    </div>
    <div class="cart-page-footer">
    </div>
</div>

{% schema %} 
{
  "name": "t:sections.all.cart",
  "settings": [
    {
      "type": "text",
      "label": "Cart header",
      "default": "Cart.",
      "id": "cart_header"
    },
    {
      "type": "text",
      "label": "Empty cart header",
      "default": "Your cart is empty",
      "id": "cart_header_empty"
    },
    {
      "type": "text",
      "label": "Empty cart text",
      "default": "There are no items in your cart",
      "id": "cart_text_empty"
    },
    {
      "type": "text",
      "label": "Empty cart button text",
      "default": "Continue shopping",
      "id": "cart_button_empty"
    },
    {
      "type": "url",
      "label": "Empty cart button link",
      "id": "cart_button_link_empty"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "model-1",
          "label": "t:settings_schema.typography.settings.colors.button_1_color_1"
        },
        {
          "value": "model-2",
          "label": "t:settings_schema.typography.settings.colors.button_2_color_1"
        },
        {
          "value": "model-3",
          "label": "t:settings_schema.typography.settings.colors.button_3_color_1"
        },
        {
          "value": "model-4",
          "label": "t:settings_schema.typography.settings.colors.button_4_color_1"
        }
      ],
      "label": "t:sections.all.button_style",
      "default": "model-2"
    }
  ]
}
{% endschema %}