{%- style -%}
.section-{{ section.id }} {
  padding-top: calc(({{- section.settings.section_padding_top }} / 100) * 128px);
  padding-bottom: calc(({{- section.settings.section_padding_bottom }} / 100) * 128px);
}
@media only screen and (min-width: 640px) {
  .section-{{ section.id }} {
    padding-top: calc(({{- section.settings.section_padding_top }} / 100) * 256px);
    padding-bottom: calc(({{- section.settings.section_padding_bottom }} / 100) * 256px);
  }
}
{% unless section.settings.use_default_colors %}
  .section-{{ section.id }} {
    background: {% if section.settings.background_image %}
                  url("{{ section.settings.background_image | image_url }}"),
              {% endif %}
              {{ section.settings.background_color }};
    background-repeat: no-repeat;
    background-position: top center;
  }
  .section-{{ section.id }}.front-featured-product h2 {
    color: {{ section.settings.title_color }};
  } 
  .section-{{ section.id }}.front-featured-product .subtitle {
    color: {{ section.settings.sub_title_color }};
  }
  .section-{{ section.id }}.front-featured-product .tab-list,
  .section-{{ section.id }} .flickity-prev-next-button .flickity-button-icon {
    color: {{ section.settings.tabs_color }};
    fill: {{ section.settings.tabs_color }};
  }
  .section-{{ section.id }}.front-featured-product .tab-list .h4:hover,
  .section-{{ section.id }}.front-featured-product .tab-list .h4.active {
      border-bottom: 3px solid {{ section.settings.tabs_color }};
  }
{% endunless %}

{% unless section.settings.full_width %}
  .collection-tabs .flickity-viewport {
    min-width: calc(100% + calc((100vw - (100% + 16px)) / 2));
}
{% endunless %}
.section-{{ section.id }} .carousel-slider-item {
  width: calc(75% - {{ section.settings.products_item_gap }}px);
}
.section-{{ section.id }} .carousel-slider-item:first-child {
  margin-left: 0
}
.section-{{ section.id }} .flickity-prev-next-button {
    display: none;
    top: 0;
    margin-top: -30px;
    right: 0;
    margin-right: 22px;
}
.section-{{ section.id }} .flickity-prev-next-button.previous {
    left: auto;
    right: 70px;
}
@media only screen and (min-width: 640px) {
  .section-{{ section.id }} .carousel-slider-item {
    width: 432px;
    margin-left: {{ section.settings.products_item_gap }}px;
  }
  .section-{{ section.id }} .flickity-prev-next-button,
  .section-{{ section.id }} .flickity-prev-next-button.previous {
    display: block;
  }
}
{%- endstyle -%}
{{ 'flickity.css' | asset_url | stylesheet_tag }}
{{ 'collection-list.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flickity.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'collection-list.js' | asset_url }}" defer="defer"></script>
<div class="front-featured-product section-{{ section.id }}  {% unless section.settings.animation_onof %}animation-fadeIn{% endunless %}">
  {% unless section.settings.full_width %}
    <div class="wide-width">
  {% endunless %}
  {% if section.settings.heading != blank %}
    <h2 class="{{ section.settings.heading_font_size }} space-from-edges">{{ section.settings.heading }}</h2>
  {% endif %}
  {% if section.settings.sub-heading != blank %}
    <div class="description-view-all subtitle space-from-edges">
      {{ section.settings.sub-heading }}    
    </div>
  {% endif %}      

  <div class="tab-list space-from-edges">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'slide' -%}
          {% if block.settings.collection.title %}
            {% if forloop.index0 == 0 %} <!-- Kontrol, ilk çağrılan block için -->
              <span id="{{ block.id }}" class="h4 small active">{{- block.settings.collection.title -}}</span>
            {% else %}
              <span id="{{ block.id }}" class="h4 small">{{- block.settings.collection.title -}}</span>
            {% endif %}
          {% else  %}
            {% if forloop.index0 == 0 %} <!-- Kontrol, ilk çağrılan block için -->
              <span id="{{ block.id }}" class="h4 small active">Collection Name</span>
            {% else %}
              <span id="{{ block.id }}" class="h4 small">Collection Name</span>
            {% endif %}
          {% endif %}
      {%- endcase -%}
    {%- endfor -%}    
  </div>

    <div class="collection-tabs full-on-mobile">
      {%- for block in section.blocks -%}
        
        {% case block.type %}
            {%- when 'slide' -%}
              {% if forloop.index0 == 0 %}
                <div class="wrapper active" data-name="{{ block.id }}" {{ block.shopify_attributes }}>
              {% else %}
                <div class="wrapper" data-name="{{ block.id }}" {{ block.shopify_attributes }}>
              {% endif %}
                <div class="slide-wrapper">
                  {% if block.settings.collection != empty %}
                    {% if block.settings.collection.products %}
                      {% for product in block.settings.collection.products %}
                        <div class="carousel-slider-item image-size-{{ section.settings.image_size }} image-fit-{{- section.settings.image_fit }} image-pos-{{- section.settings.image_pos -}}">
                          {% render 'product-item', product: product %}
                        </div>
                      {% endfor %}
                    {% endif %}
                  {% else %}

                    {% for product_number in (1..4) %}
                      <div class="carousel-slider-item image-size-{{ section.settings.image_size }} image-fit-{{- section.settings.image_fit }} image-pos-{{- section.settings.image_pos -}}">
                        <div class="product-list-item">
                          <div class="product-image">
                            <div class="image-wrap">
                              {{ 'product-' | append: product_number | placeholder_svg_tag: 'demo-image product-image' }}
                            </div>
                            <button class="quick-view-button" data-product-id="/products/curve-w-jacket.js">
                              Quick View <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1609 12.0531C15.1609 13.7991 13.7449 15.2141 11.9989 15.2141C10.2529 15.2141 8.83789 13.7991 8.83789 12.0531C8.83789 10.3061 10.2529 8.89111 11.9989 8.89111C13.7449 8.89111 15.1609 10.3061 15.1609 12.0531Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.998 19.3549C15.806 19.3549 19.289 16.6169 21.25 12.0529C19.289 7.48885 15.806 4.75085 11.998 4.75085H12.002C8.194 4.75085 4.711 7.48885 2.75 12.0529C4.711 16.6169 8.194 19.3549 12.002 19.3549H11.998Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>        
                            </button>
                          </div>
                          
                          <div class="details">
                            <div class="color-variant-in-list">
                              <span class="h4 subheadline"><a href="/products/curve-w-jacket" title="">Product Name</a></span>
                                <div class="product-variant">                                    
                                  <div class="product-option">
                                    <span class="caption-2">Color | </span>
                                    <div class="product-list-colors Color-Sahara"></div>
                                    <div class="product-list-colors Color-Mars"></div>
                                    <div class="product-list-colors Color-Sunset"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="price caption">
                                <span class="original-price">
                                  $100.00
                                </span>
                                <span class="discounted-price">
                                  $90.00
                                </span>
                              </div>
                              <div class="save-amount callout">
                                Save 10$
                              </div>
                              <div class="left-badges">
                                <div class="badge model-2" data-live-text-setting="second_badge_text">
                                  ⚡️ BEST SELLER
                                </div>
                                <div class="badge model-1" data-live-text-setting="sale_badge_text">
                                  SALE
                                </div>
                              </div>
                              <div class="right-banner">
                                <div class="badge model-3" data-live-text-setting="third_badge_text">
                                  NEW
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}  
                    
                  {% endif %}                
                </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
      
  {% unless section.settings.full_width %}
  </div>
  {% endunless %}
</div>

      
<script>
  
  {%- if request.design_mode -%}
    document.addEventListener("shopify:section:load", function(event) {
        initializeTabbedContent();
        var flkty = new Flickity('.active .slide-wrapper', {
          // Options
          cellAlign: 'left',       // Align the first slide to the left
          prevNextButtons: true,   // Show previous and next buttons
          pageDots: false,         // Hide the page dots
          groupCells: 1,
          cellSelector: '.carousel-slider-item',
      });
      flkty.reloadCells();
    });
  {%- endif -%}
</script>

{% schema %}
{
  "name": "t:sections.collection_list.section_name",
  "settings": [
    {
      "type": "text",
      "label": "t:sections.all.heading",
      "default": "Collection tabs",
      "id": "heading"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.all.heading",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.large"
        }
      ],
      "label": "t:sections.all.heading_font_size",
      "default": "large"
    },
    {
      "type": "richtext",
      "label": "t:sections.all.description",
      "default": "<p><strong>Use this section with a slider and tabs to display the products in your collections.</strong></p>",
      "id": "sub-heading"
    },
    {
      "type": "color",
      "id": "sub_title_color",
      "label": "t:sections.all.description",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "tabs_color",
      "label": "Tab and icon",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "t:sections.all.img_size",
      "default": "two-three",
      "options": [
        {
          "value": "one-one",
          "label": "Square (1:1)"
        },
        {
          "value": "three-two",
          "label": "Landscape (3:2)"
        },
        {
          "value": "fout-three",
          "label": "Landscape (4:3)"
        },
        {
          "value": "sixteen-nine",
          "label": "Landscape (16:9)"
        },
        {
          "value": "two-three",
          "label": "Portrait (2:3)"
        },
        {
          "value": "three-four",
          "label": "Portrait (3:4)"
        },
        {
          "value": "nine-sixteen",
          "label": "Portrait (9:16)"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.image_fit",
      "default": "contain",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.image_contain"
        },
        {
          "value": "cover",
          "label": "t:sections.all.image_cover"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_pos",
      "label": "t:sections.all.image_position",
      "default": "center",
      "info": "t:sections.all.image_position_info",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.image_pos_top"
        },
        {
          "value": "center",
          "label": "t:sections.all.image_pos_center"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.image_pos_bot"
        }
      ]
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "t:sections.all.background_color",
      "default": "linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 100%)"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.background_image"
    },
    {
      "type": "range",
      "id": "products_item_gap",
      "min": 0,
      "max": 64,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.grid_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.section_padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.section_padding_bottom",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "use_default_colors",
      "label": "Use default colors",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "animation_onof",
      "label": "Hide animation",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.make_section_full",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.collection_list.blocks.block_name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.all.collections"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_list.section_name",
      "blocks": [
        {
          "type": "slide",
          "settings": {
            "collection": ""
          }
        },
        {
          "type": "slide",
          "settings": {
            "collection": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}