{%- style -%}
.section-{{ section.id }} {
    padding-top: calc(({{- section.settings.section_padding_top }} / 100) * 128px);
    padding-bottom: calc(({{- section.settings.section_padding_bottom }} / 100) * 128px);
}
{% unless section.settings.use_default_colors %}
  .section-{{ section.id }} {
    background: {% if section.settings.background_image %}
                    url("{{ section.settings.background_image | image_url }}"),
                {% endif %}
                {{ section.settings.background_color }};
    background-repeat: no-repeat;
    background-position: top center;
  }
  .section-{{ section.id }} .front-collection-wrap  h2 {
    color: {{ section.settings.heading_color }};
  }
  .section-{{ section.id }} .front-collection-wrap .subtitle {
      color: {{ section.settings.sub_heading_color }};
  }
  .section-{{ section.id }} .model-two a:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, {{ section.settings.tint_color }} 100%);
    opacity: {{ section.settings.tint_opacity }}%;
  }
  .section-{{ section.id }} .single-collection h3 {
    color: {{ section.settings.collection_item_title_color }};
  }
  .section-{{ section.id }} .single-collection a.shop-now {
    color: {{ section.settings.shop_now_color }};
  }
{% endunless %}
@media only screen and (min-width: 640px) {
  .section-{{ section.id }} {
    padding-top: calc(({{- section.settings.section_padding_top }} / 100) * 256px);
    padding-bottom: calc(({{- section.settings.section_padding_bottom }} / 100) * 256px);
  }
}
.section-{{ section.id }} .collection-hor {
    display: flex;
    flex-direction: row;
    column-gap: {{ section.settings.spacings }}px;
    overflow-y: scroll;
}
@media only screen and (min-width: 640px) {
  .section-{{ section.id }} .collection-hor {
    flex-wrap: wrap;
  }
}
.section-{{ section.id }} .collection-hor .single-collection {
  flex: 0 0 80%;
  max-width: 80%;
  margin-top: {{ section.settings.spacings }}px;
  position: relative;
}
@media only screen and (min-width: 640px) {
  .section-{{ section.id }} .collection-hor .single-collection {
    flex: 0 0 calc(calc((100% - calc({{ section.settings.spacings }}px * calc({{ section.settings.collection_per_line }} - 1))) / {{ section.settings.collection_per_line }}));
  }
}
.section-{{ section.id }} .model-one {
  margin: 0 8px 0 8px;
}
.section-{{ section.id }} .model-two {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.section-{{ section.id }} .model-two a {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}
.section-{{ section.id }} .model-two a:before {
  content: "";
  width: 100%;
  height: 100%;
}
.section-{{ section.id }} .model-two a h3.subheadline {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 16px;
}
.section-{{ section.id }} .single-collection h3 {
    margin: 16px 0 0 0;
}

.section-{{ section.id }} .single-collection a.shop-now {
    text-decoration: underline;
    margin-top: 8px;
    display: block;
}

{%- endstyle -%}


<div class="section-{{ section.id }}"  {% render 'animation-model-1' %}>
  {% unless section.settings.full_width %}
  <div class="wide-width">
  {% endunless %}
  <div class="front-collection-wrap">
    {% if section.settings.heading != blank %}
      <h2 class="{{ section.settings.heading_font_size }} space-from-edges">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.sub_heading != blank %}
        <div class="subtitle subheadline space-from-edges">{{ section.settings.sub_heading }}</div>
    {% endif %}
    <div class="collection-hor full-on-mobile">
      {%- for block in section.blocks -%}
        {% case block.type %}
          {%- when 'collection' -%}
            <div class="single-collection image-size-{{ section.settings.image_size }} image-fit-{{- section.settings.image_fit }} image-pos-{{- section.settings.image_pos -}}">
              <div class="image-wrap">  
                {% if block.settings.collection != empty %}
                  {% if section.settings.collection_model == "model-one" %}
                    <a href="{{ block.settings.collection.url }}">
                  {% endif %}
                      {{ block.settings.collection.featured_image | image_url: width: 600 | image_tag: loading: 'lazy', class: 'product-image' }}
                  {% if section.settings.collection_model == "model-two" %}
                    </a>
                  {% endif %}
                {% else %}
                  {{ 'collection-1' | placeholder_svg_tag: 'demo-image' }}
                {% endif %}
              </div>
              <div class="{{ section.settings.collection_model }}">
                {% if section.settings.collection_model == "model-two" %}
                  <a href="{{ block.settings.collection.url }}">
                {% endif %}
                  <h3 class="subheadline">
                    {% if block.settings.collection != empty %}
                      {{- block.settings.collection.title | upcase -}}
                    {% else %}
                      Collection Name
                    {% endif %}
                  </h3>
                  {% unless section.settings.collection_model == "model-two" %}
                  <a class="shop-now text-link" href="{{ block.settings.collection.url }}">{{ section.settings.shop_now }}</a>
                  {% endunless %}
                {% if section.settings.collection_model == "model-two" %}
                  </a>
                {% endif %}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
  {% unless section.settings.full_width %}
  </div>
  {% endunless %}
</div>

{% schema %}
{
  "name": "t:sections.collection_showcase.section_name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.heading",
      "default": "Collection showcase."
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.all.heading",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.large"
        }
      ],
      "label": "t:sections.all.heading_font_size",
      "default": "large"
    },
    {
      "type": "richtext",
      "id": "sub_heading",
      "label": "t:sections.all.sub_heading",
      "default": "<p><strong>Use this section to showcase your collections</strong></p>"
    },
    {
      "type": "color",
      "id": "sub_heading_color",
      "label": "t:sections.all.sub_heading",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "collection_per_line",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "t:sections.all.column_per_row",
      "default": 3
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "t:sections.all.img_size",
      "default": "one-one",
      "options": [
        {
          "value": "one-one",
          "label": "Square (1:1)"
        },
        {
          "value": "three-two",
          "label": "Landscape (3:2)"
        },
        {
          "value": "fout-three",
          "label": "Landscape (4:3)"
        },
        {
          "value": "sixteen-nine",
          "label": "Landscape (16:9)"
        },
        {
          "value": "two-three",
          "label": "Portrait (2:3)"
        },
        {
          "value": "three-four",
          "label": "Portrait (3:4)"
        },
        {
          "value": "nine-sixteen",
          "label": "Portrait (9:16)"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.image_fit",
      "default": "cover",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.image_contain"
        },
        {
          "value": "cover",
          "label": "t:sections.all.image_cover"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_pos",
      "label": "t:sections.all.image_position",
      "default": "center",
      "info": "t:sections.all.image_position_info",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.image_pos_top"
        },
        {
          "value": "center",
          "label": "t:sections.all.image_pos_center"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.image_pos_bot"
        }
      ]
    },
    {
      "type": "text",
      "id": "shop_now",
      "label": "Shop now text",
      "default": "Shop Now"
    },
    {
      "type": "select",
      "id": "collection_model",
      "label": "t:sections.collection_showcase.collection_model",
      "default": "model-two",
      "info": "Use 'inside' to display text within the image and 'outside' to place it underneath the image. If the text is outside, adjust its color for visibility if it does not contrast with the background",
      "options": [
        {
          "value": "model-one",
          "label": "t:sections.collection_showcase.collection_model_1"
        },
        {
          "value": "model-two",
          "label": "t:sections.collection_showcase.collection_model_2"
        }
      ]
    },
    {
      "type": "range",
      "id": "spacings",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.columns_spacings",
      "default": 16
    },
    {
      "type": "range",
      "id": "tint_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Tint Opacity",
      "default": 50
    },
    {
      "type": "color",
      "id": "tint_color",
      "label": "Tint",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "collection_item_title_color",
      "label": "t:sections.collection_showcase.single_collection_title.color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "shop_now_color",
      "label": "t:sections.collection_showcase.shop_now.color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "t:sections.all.background_color",
      "default": "linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 100%)"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.background_image"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.section_padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.section_padding_bottom",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "use_default_colors",
      "label": "Use default colors",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.make_section_full",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.collection_showcase.collection_showcase_block.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.all.collections"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_showcase.section_name",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}