{%- style -%}
    .section-{{ section.id }} {

    }
    .section-{{ section.id }}.counter {
        {% if section.settings.background_image %}
            background-image:  url("{{ section.settings.background_image | image_url }}");
            background-size: cover;
            background-position: center;
        {% else %}
            background: {{ section.settings.background }};
        {% endif %}
        color: {{ section.settings.text_color }};
        justify-content: space-between;
        min-height: 150px;
        align-items: center;
        padding: 16px;
        display: block;
    }
    .section-{{ section.id }}.counter .counter-left {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;
        align-items: center;
    }
    .section-{{ section.id }}.counter .counter-right {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .section-{{ section.id }}.counter .counter-right .time-part {
        padding: 0 16px;
        border-left: 1px solid {{ section.settings.text_color }};;
    }
    .section-{{ section.id }}.counter .counter-right .time-part:first-child {
      border-left: none;
    }
    .section-{{ section.id }}.counter .counter-right .time-part .big {
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        font-size: 32px;
        line-height: 39px;
    }
    .section-{{ section.id }}.counter .counter-right .time-part .small {        
        font-weight: 400;
        letter-spacing: 0em;
        text-align: center;
        font-size: 11px;
        line-height: 13px;
    }
    
    .section-{{ section.id }}.counter .counter-left p {
        font-weight: 400;
        letter-spacing: 0em;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        margin: 16px 0 32px 0;
    }
    .section-{{ section.id }} .wide-width {
        display: block;
    }
    @media only screen and (min-width: 640px) {
      .section-{{ section.id }} .wide-width {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .section-{{ section.id }}.counter {
        display: flex;
      }
      .section-{{ section.id }}.counter .counter-right .time-part .big {
        font-size: 32px;
        line-height: 39px;
      }
      .section-{{ section.id }}.counter .counter-right .time-part .small {   
        font-size: 11px;
        line-height: 13px;
      }
      .section-{{ section.id }}.counter .counter-left h2 {
        font-size: 40px;
        line-height: 48px;
      }
      .section-{{ section.id }}.counter .counter-left p {
        font-size: 18px;
        line-height: 22px;
      }
    }
    @media only screen and (min-width: 1024px) {
      .section-{{ section.id }}.counter {
        padding: 0 32px;
      }
      .section-{{ section.id }}.counter .counter-left {
        align-items: flex-start;
    }
      .section-{{ section.id }}.counter .counter-right .time-part .big {
        font-size: 32px;
        line-height: 39px;
      }
      .section-{{ section.id }}.counter .counter-right .time-part .small {   
        font-size: 11px;
        line-height: 13px;
      }
      .section-{{ section.id }}.counter .counter-left h2 {
        font-size: 48px;
        line-height: 59px;
      }
      .section-{{ section.id }}.counter .counter-left p {
        font-size: 18px;
        line-height: 22px;
        margin: 0;
      }
    }


{%- endstyle -%}

<div class="counter section-{{ section.id }}  {% unless section.settings.animation_onof %}animation-fadeIn{% endunless %}">
  <div class="wide-width">
    <div class="counter-left">
        <h3 class="large">{{ section.settings.title }}</h3>
        <p class="subheadline">{{ section.settings.sub_title }}</p>
    </div>
    <div class="counter-right">
        <div class="time-part">
            <div class="big" id="days">0</div>
            <div class="small">{{ 'counter.days' | t }}</div>
        </div>
        <div class="time-part">
            <div class="big" id="hours">0</div>
            <div class="small">{{ 'counter.hours' | t }}</div>
        </div>
        <div class="time-part">
            <div class="big" id="minutes">0</div>
            <div class="small">{{ 'counter.mins' | t }}</div>
        </div>
        <div class="time-part">
            <div class="big" id="seconds">0</div>
            <div class="small">{{ 'counter.seconds' | t }}</div>
        </div>
    </div>
  </div>
</div>

<div style="display:none;">
  <input id="counter-m" value="{{ section.settings.month }}">
  <input id="counter-d" value="{{ section.settings.day }}">
  <input id="counter-y" value="{{ section.settings.year }}">
  <input id="counter-h" value="{{ section.settings.hour }}">
  <input id="counter-mim" value="{{ section.settings.minute }}">
</div>

<script>
  function startCountdown(targetDate, daysId, hoursId, minutesId, secondsId) {
    var countDownDate = new Date(targetDate).getTime();

    var x = setInterval(function () {
      var now = new Date().getTime();
      var distance = countDownDate - now;
  
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
      document.getElementById(daysId).innerHTML = days;
      document.getElementById(hoursId).innerHTML = hours;
      document.getElementById(minutesId).innerHTML = minutes;
      document.getElementById(secondsId).innerHTML = seconds;
  
      if (distance < 0) {
        clearInterval(x);
        document.getElementById(daysId).innerHTML = "0";
        document.getElementById(hoursId).innerHTML = "0";
        document.getElementById(minutesId).innerHTML = "0";
        document.getElementById(secondsId).innerHTML = "0";
      }
    }, 1000);
  }
  
  function startCountdownAndUpdate() {
    var year = document.getElementById("counter-y").value;
    var month = document.getElementById("counter-m").value;
    var day = document.getElementById("counter-d").value;
    var hour = document.getElementById("counter-h").value;
    var minute = document.getElementById("counter-mim").value;
  
    var targetDate = new Date(year, month - 1, day, hour, minute).getTime();
  
    startCountdown(
      targetDate,
      "days",
      "hours",
      "minutes",
      "seconds"
    );
  }
  
  var inputs = document.querySelectorAll('input');
  inputs.forEach(function(input) {
    input.addEventListener('change', startCountdownAndUpdate);
  });
  
  document.addEventListener("DOMContentLoaded", function () {
    startCountdownAndUpdate();
  });
  
  document.addEventListener("shopify:section:load", function() {
    // Define a function to refresh all countdown timers
    function refreshAllCountdowns() {
      var countdownInputs = document.querySelectorAll('input[id^="counter-"]');
      countdownInputs.forEach(function(input) {
        input.value = ""; // Clear the input values
      });
      startCountdownAndUpdate(); // Restart all countdown timers
    }
  
    refreshAllCountdowns();
  });
  
</script>




{% schema %}
{
  "name": "t:sections.counter_section.counter_section_name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.all.heading",
      "default": "t:sections.counter_section.counter_section_name"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "t:sections.all.sub_heading",
      "default": "t:sections.counter_section.counter_subhead_default"
    },
    {
      "type": "number",
      "id": "year",
      "label": "t:sections.all.year",
      "default": 2024
    },
    {
      "type": "select",
      "id": "month",
      "label": "t:sections.all.month",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "t:sections.all.month_name.1"
        },
        {
          "value": "2",
          "label": "t:sections.all.month_name.2"
        },
        {
          "value": "3",
          "label": "t:sections.all.month_name.3"
        },
        {
          "value": "4",
          "label": "t:sections.all.month_name.4"
        },
        {
          "value": "5",
          "label": "t:sections.all.month_name.5"
        },
        {
          "value": "6",
          "label": "t:sections.all.month_name.6"
        },
        {
          "value": "7",
          "label": "t:sections.all.month_name.7"
        },
        {
          "value": "8",
          "label": "t:sections.all.month_name.8"
        },
        {
          "value": "9",
          "label": "t:sections.all.month_name.9"
        },
        {
          "value": "10",
          "label": "t:sections.all.month_name.10"
        },
        {
          "value": "11",
          "label": "t:sections.all.month_name.11"
        },
        {
          "value": "12",
          "label": "t:sections.all.month_name.12"
        }
      ]
    },
    {
      "type": "select",
      "id": "day",
      "label": "t:sections.all.day",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "9",
          "label": "9"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "11",
          "label": "11"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "13",
          "label": "13"
        },
        {
          "value": "14",
          "label": "14"
        },
        {
          "value": "15",
          "label": "15"
        },
        {
          "value": "16",
          "label": "16"
        },
        {
          "value": "17",
          "label": "17"
        },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "19",
          "label": "19"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "21",
          "label": "21"
        },
        {
          "value": "22",
          "label": "22"
        },
        {
          "value": "23",
          "label": "23"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "25",
          "label": "25"
        },
        {
          "value": "26",
          "label": "26"
        },
        {
          "value": "27",
          "label": "27"
        },
        {
          "value": "28",
          "label": "28"
        },
        {
          "value": "29",
          "label": "29"
        },
        {
          "value": "30",
          "label": "30"
        },
        {
          "value": "31",
          "label": "31"
        }
      ]
    },
    {
      "type": "range",
      "id": "hour",
      "min": 1,
      "max": 24,
      "step": 1,
      "label": "t:sections.all.hour",
      "default": 1
    },
    {
      "type": "range",
      "id": "minute",
      "min": 1,
      "max": 60,
      "step": 1,
      "label": "t:sections.all.min",
      "default": 1
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.background_image"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.all.body_text",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "t:sections.all.background_color",
      "info": "t:sections.counter_section.counter_background_info",
      "default": "linear-gradient(#000000, #000000)"
    },
    {
      "type": "checkbox",
      "id": "animation_onof",
      "label": "Hide animation",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.counter_section.counter_section_name"
    }
  ]
}
{% endschema %}