{%- style -%}
.section-{{ section.id }} {
    background: {% if section.settings.background_image %}
                    url("{{ section.settings.background_image | image_url }}"),
                {% endif %}
                {{ section.settings.background_color }};
    background-repeat: no-repeat;
    background-position: top center;
    padding: {{ section.settings.section_padding }}px 0;
                          
}
.section-{{ section.id }}.front-featured-product h2 {
  letter-spacing: 0em;
  margin: 0;
  color: {{ section.settings.title_color }};
}
.section-{{ section.id }}.front-featured-product .description-view-all {
  display: flex;
  justify-content: space-between;
}
.section-{{ section.id }}.front-featured-product .description-view-all a {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #000;
}

.section-{{ section.id }}.front-featured-product .product-list {
  display: flex; 
  flex-direction: row;
}

.section-{{ section.id }}.front-featured-product p.subtitle {
    color: {{ section.settings.sub_title_color }};
}
.front-featured-product .description-view-all > p {
    color: {{ section.settings.sub_title_color }};
}
.front-featured-product .product-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
@media only screen and (min-width: 640px) {
  .section-{{ section.id }} .product-list {
    column-gap: {{ section.settings.product_gap }}px;
  }
  .section-{{ section.id }} .product-list .product-list-item {
    flex: 0 0 calc(calc((100% - calc({{ section.settings.product_gap }}px * calc({{ section.settings.item_per_row }} - 1))) / {{ section.settings.item_per_row }}));
  }
}
{%- endstyle -%}
{% unless section.settings.full_width %}
<div class="wide-width">
{% endunless %}
  <div class="front-featured-product section-{{ section.id }}  {% unless section.settings.animation_onof %}animation-fadeIn{% endunless %}">
    {% if section.settings.heading != blank %}
      <h2 class="{{ section.settings.heading_font_size }} space-from-edges">{{ section.settings.heading }}</h2>
    {% endif %}
    <div class="description-view-all space-from-edges">
        {% if section.settings.sub-heading != blank %}
            <p class="subtitle">{{ section.settings.sub-heading }}</p>
        {% endif %}
        <a href="{{ collections['featured-products'].url }}">Show All Products</a>
    </div>
    <div class="product-list full-on-mobile column-{{ section.settings.item_per_row }} column-mobile-{{ section.settings.item_per_row_mobile }} image-size-{{- section.settings.image_size }} image-fit-{{- section.settings.image_fit }} image-pos-{{- section.settings.image_pos -}}">
        {% if section.settings.product_list != empty %}
            {% for product in section.settings.product_list %}
                {% render 'product-item', product: product %}
            {% endfor %} 
        {% else %}            
            {% for product_number in (1..section.settings.item_per_row) %}
                <div class="product-list-item">
                    <div class="product-image">
                      {{ 'product-' | append: product_number | placeholder_svg_tag: 'demo-image slide-image' }}
                    </div>
                    <div class="details">
                      <span class="h4 small">Select Product To Show</span>
                      <div class="price">
                          <span class="original-price">$100</span>
                          <span class="discounted-price">$90</span>
                      </div>    
                    </div>                    
                </div>
            {% endfor %}           
        {% endif %}
    </div>
  </div>
{% unless section.settings.full_width %}
</div>
{% endunless %}
{% schema %}
{
  "name": "t:sections.featured_products.section_name",
  "settings": [
    {
      "type": "text",
      "label": "t:sections.all.heading",
      "default": "Featured Products.",
      "id": "heading"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.all.heading",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.large"
        }
      ],
      "label": "t:sections.all.heading_font_size",
      "default": "large"
    },
    {
      "type": "text",
      "label": "t:sections.all.description",
      "default": "Quality ingredients. Real results.",
      "id": "sub-heading"
    },
    {
      "type": "color",
      "id": "sub_title_color",
      "label": "t:sections.all.description",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "item_per_row",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "itm",
      "label": "t:sections.all.column_per_row",
      "default": 4
    },
    {
      "type": "select",
      "id": "item_per_row_mobile",
      "label": "t:sections.product_grid.columns_mobile",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "range",
      "id": "product_gap",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:sections.product_grid.columns_spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "t:sections.all.img_size",
      "default": "two-three",
      "options": [
        {
          "value": "one-one",
          "label": "Square (1:1)"
        },
        {
          "value": "three-two",
          "label": "Landscape (3:2)"
        },
        {
          "value": "fout-three",
          "label": "Landscape (4:3)"
        },
        {
          "value": "sixteen-nine",
          "label": "Landscape (16:9)"
        },
        {
          "value": "two-three",
          "label": "Portrait (2:3)"
        },
        {
          "value": "three-four",
          "label": "Portrait (3:4)"
        },
        {
          "value": "nine-sixteen",
          "label": "Portrait (9:16)"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.image_fit",
      "default": "contain",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.image_contain"
        },
        {
          "value": "cover",
          "label": "t:sections.all.image_cover"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_pos",
      "label": "t:sections.all.image_position",
      "default": "center",
      "info": "t:sections.all.image_position_info",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.image_pos_top"
        },
        {
          "value": "center",
          "label": "t:sections.all.image_pos_center"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.image_pos_bot"
        }
      ]
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.featured_products.select_products"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "t:sections.all.background_color",
      "default": "linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 100%)"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.background_image"
    },
    {
      "type": "range",
      "id": "section_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.section_padding",
      "default": 30
    },
    {
      "type": "checkbox",
      "id": "animation_onof",
      "label": "No animation",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.make_section_full",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_products.section_name"
    }
  ]
}
{% endschema %}