{{ 'featured-collections.css' | asset_url | stylesheet_tag }}
{%- style -%}
    .section-{{ section.id }} {
      background-color: {{ section.settings.section_bg }};
      margin: {{ section.settings.section_margin }}px 0;
    }
    .section-{{ section.id }} .collection-details h2 {
      color: {{ section.settings.collection_header_color }};
    }
    .section-{{ section.id }} .collection-details .h4 {
      color: {{ section.settings.collection_description_color }};
      margin-bottom: 32px;
    }
    .section-{{ section.id }} .single-collection-large {
      height: {% if section.settings.full_height_mobil %} 100vh {% else %} {{ section.settings.collection_height_mobile }}px {% endif %};
    }
    
    @media only screen and (min-width: 640px) {
      .section-{{ section.id }} .single-collection-large {
        height: {% if section.settings.full_height_desktop %} 100vh {% else %} {{ section.settings.collection_height }}px {% endif %};
      }
      .front-collection-wrap.columns-2,
      .front-collection-wrap.columns-3 {
        display: flex;
        gap: {{ section.settings.spacings }}px;
        flex-wrap: wrap;
      }
      .front-collection-wrap.columns-2 .single-collection-large {
        width: calc((100% - {{ section.settings.spacings }}px) / 2);
      }

      .front-collection-wrap.columns-3 .single-collection-large {
        width: calc((100% - ({{ section.settings.spacings }}px * 2)) / 3);
      }
    }
    /*
    .front-collection-wrap.columns-2 .single-collection-large:nth-child(odd) .collection-details {
        right: 0;
        left: auto;
        text-align: right;
    }
    
    .front-collection-wrap.columns-3 .single-collection-large {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    */
    .single-collection-large {
        
    }
    .single-collection-large img {
      position: absolute;
      object-fit: cover;
      min-width: 100%;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
    }
    .single-collection-large.image-pos-top img {
      object-position: top;
    }
    .single-collection-large.image-pos-center img {
      object-position: center;
    }
    .single-collection-large.image-pos-bottom img {
      object-position: bottom;
    }
    
    .section-{{ section.id }} .single-collection-large:before {
      content: "";
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, {{ section.settings.tint_color }} 100%);
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: {{ section.settings.tint_opacity }}%;
      z-index: 1;
    }
    
{%- endstyle -%}



<div class="section-{{ section.id }}">
  {% unless section.settings.full_width %}
  <div class="wide-width">
  {% endunless %}
    <div class="front-collection-wrap columns-{{ section.settings.collection_per_line }}">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'collection' -%}
            <div class="single-collection-large image-pos-{{- block.settings.image_pos -}}">
              {% if block.settings.collection != empty %}
                {{ block.settings.collection.featured_image | image_url: width: 2000 | image_tag: loading: 'lazy', class: 'product-image' }}
              {% else %}
                {{ 'collection-1' | placeholder_svg_tag: 'demo-image slide-image' }}
              {% endif %}
              <div class="collection-details {{ block.settings.text_position }}">
                  <h2 class="{{ section.settings.heading_font_size }}">
                    {% if block.settings.collection != empty %}
                      {{- block.settings.collection.title | upcase | link_to: block.settings.collection.url -}}
                    {% else %}
                      Featured collection
                    {% endif %}
                  </h2>
                  {% if block.settings.collection != empty %}
                    {% if block.settings.enable_description == "enabled" %}
                      {% if block.settings.enable_custom_description == "disabled" %}
                        <p class="h4 small">{{- block.settings.collection.description | strip_html | truncate: block.settings.collection_description_lenght -}}</p>
                      {% else  %}
                        <div class="h4 small">{{- block.settings.custom_description -}}</div>
                      {% endif %}                      
                    {% endif %}
                  {% else %}
                    <p class="h4 small">Collection Description</p>
                  {% endif %}
                  <a class="button {{ block.settings.button_style }}" href="{{ block.settings.collection.url }}">{{- block.settings.collection_button_text -}}</a>
              </div>
            </div>
      {% endcase %}
    {% endfor %}
    </div>
  {% unless section.settings.full_width %}
  </div>
  {% endunless %}
</div>
{% schema %}
{
  "name": "t:sections.featured_collections.section_name",
  "settings": [
    {
      "type": "range",
      "id": "collection_height",
      "min": 500,
      "max": 1500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.section_height",
      "default": 640
    },
    {
      "type": "checkbox",
      "id": "full_height_desktop",
      "label": "Masa üstü full height",
      "info": "Bu check varsa yukarıdaki slider çalışmaz",
      "default": false
    },
    {
      "type": "range",
      "id": "collection_height_mobile",
      "min": 300,
      "max": 800,
      "step": 20,
      "unit": "px",
      "label": "Mobile height",
      "default": 400
    },
    {
      "type": "checkbox",
      "id": "full_height_mobil",
      "label": "Mobile full-height",
      "info": "If selected, this will override the section height slider for mobile",
      "default": false
    },
    {
      "type": "color",
      "id": "collection_header_color",
      "label": "t:sections.all.heading",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.large"
        }
      ],
      "label": "t:sections.all.super_size",
      "default": "medium"
    },
    {
      "type": "color",
      "id": "collection_description_color",
      "label": "t:sections.featured_collections.description_color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "collection_per_line",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "t:sections.all.column_per_row",
      "default": 1
    },
    {
      "type": "range",
      "id": "spacings",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.columns_spacings",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.make_section_full",
      "default": true
    },
    {
      "type": "range",
      "id": "tint_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Tint opacity",
      "default": 50
    },
    {
      "type": "color",
      "id": "tint_color",
      "label": "Tint",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "t:sections.all.background_color"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.collection_showcase.collection_showcase_block.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.all.collections"
        },
        {
          "type": "select",
          "label": "Description",
          "info": "Use this toggle to show or hide the collection description information that comes from your Shopify dashboard",
          "id": "enable_description",
          "default": "enabled",
          "options": [
            {
              "value": "enabled",
              "label": "t:sections.all.on"
            },
            {
              "value": "disabled",
              "label": "t:sections.all.off"
            }
          ]
        },
        {
          "type": "range",
          "id": "collection_description_lenght",
          "min": 10,
          "max": 300,
          "step": 10,
          "unit": "x",
          "label": "t:sections.featured_collections.description_lenght",
          "default": 40
        },
        {
          "type": "select",
          "label": "Custom text",
          "info": "If enabled, the custom description will appear; otherwise, the collection description will be displayed",
          "id": "enable_custom_description",
          "default": "enabled",
          "options": [
            {
              "value": "enabled",
              "label": "t:sections.all.on"
            },
            {
              "value": "disabled",
              "label": "t:sections.all.off"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "custom_description",
          "label": "Custom description",
          "default": "<p><strong>Collection description</strong></p>"
        },
        {
          "type": "select",
          "id": "text_position",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.all.text_position.top_left"
            },
            {
              "value": "top-center",
              "label": "t:sections.all.text_position.top_center"
            },
            {
              "value": "top-right",
              "label": "t:sections.all.text_position.top_right"
            },
            {
              "value": "mid-left",
              "label": "t:sections.all.text_position.mid_left"
            },
            {
              "value": "mid-center",
              "label": "t:sections.all.text_position.mid_center"
            },
            {
              "value": "mid-right",
              "label": "t:sections.all.text_position.mid_right"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.all.text_position.bottom_left"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.all.text_position.bottom_center"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.all.text_position.bottom_right"
            }
          ],
          "default": "bottom-center",
          "label": "t:sections.all.content_position"
        },
        {
          "type": "text",
          "id": "collection_button_text",
          "label": "t:sections.all.button_label",
          "default": "BUTTON LABEL"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "model-1",
              "label": "t:settings_schema.typography.settings.colors.button_1_color_1"
            },
            {
              "value": "model-2",
              "label": "t:settings_schema.typography.settings.colors.button_2_color_1"
            },
            {
              "value": "model-3",
              "label": "t:settings_schema.typography.settings.colors.button_3_color_1"
            },
            {
              "value": "model-4",
              "label": "t:settings_schema.typography.settings.colors.button_4_color_1"
            }
          ],
          "label": "t:sections.all.button_style",
          "default": "model-1"
        },
        {
          "type": "select",
          "id": "image_pos",
          "label": "t:sections.all.image_position",
          "default": "center",
          "info": "t:sections.all.image_position_info",
          "options": [
            {
              "value": "top",
              "label": "t:sections.all.image_pos_top"
            },
            {
              "value": "center",
              "label": "t:sections.all.image_pos_center"
            },
            {
              "value": "bottom",
              "label": "t:sections.all.image_pos_bot"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_collections.section_name",
      "blocks": [
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}