{%- style -%}
.section-{{ section.id }} {
    background: {% if section.settings.background_image %}
                url("{{ section.settings.background_image | image_url }}"),
                {% endif %}
                {{ section.settings.background_color }};
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: calc(({{- section.settings.section_padding_top }} / 100) * 128px);
    padding-bottom: calc(({{- section.settings.section_padding_bottom }} / 100) * 128px);
}
@media only screen and (min-width: 640px) {
  .section-{{ section.id }} {
    padding-top: calc(({{- section.settings.section_padding_top }} / 100) * 256px);
    padding-bottom: calc(({{- section.settings.section_padding_bottom }} / 100) * 256px);
  }
}
.section-{{ section.id }}.featured-posts h2 {
  color: {{ section.settings.title_color }};  
}
.section-{{ section.id }}.featured-posts .description-view-all {
  display: flex;
  justify-content: space-between;
}
.section-{{ section.id }}.featured-posts p.subtitle {
    color: {{ section.settings.sub_title_color }};
}
.featured-posts .description-view-all > p {
    color: {{ section.settings.sub_title_color }};
}



@media only screen and (min-width: 640px) {
  .section-{{ section.id }} .blog-post-list .single-post {
      flex: 0 0 calc(calc((100% - calc(16px * calc({{ section.settings.product_per_row }} - 1))) / {{ section.settings.product_per_row }}));
      max-width: calc(calc((100% - calc(16px * calc({{ section.settings.product_per_row }} - 1))) / {{ section.settings.product_per_row }}));
  }
}

{%- endstyle -%}
{{ 'single-post.css' | asset_url | stylesheet_tag }}
{{ 'blog-post-featured.css' | asset_url | stylesheet_tag }}
<div class="featured-posts section-{{ section.id }}  {% unless section.settings.animation_onof %}animation-fadeIn{% endunless %}">
  {% unless section.settings.full_width %}
  <div class="wide-width">
  {% endunless %}
    {% if section.settings.heading != blank %}
      <h2 class="{{ section.settings.heading_font_size }} space-from-edges">{{ section.settings.heading }}</h2>
    {% endif %}
    
    <div class="description-view-all subheadline space-from-edges">
        {% if section.settings.sub-heading != blank %}
            {{ section.settings.sub-heading }}
        {% endif %}
        <a class="text-link underline hidden-mobile" href="{{ section.settings.blog.url }}">{{ section.settings.button_label }}</a>
    </div>
    <div class="blog-post-list full-on-mobile column-{{ section.settings.product_per_row }} image-size-{{ section.settings.image_size }} image-fit-{{- section.settings.image_fit }} image-pos-{{- section.settings.image_pos }} authore-{{- section.settings.show_authore }} date-{{- section.settings.show_date }} tags-{{- section.settings.show_tags }} comments-{{- section.settings.show_comments -}}">
        {% if section.settings.blog != empty %}
            {% for article in section.settings.blog.articles %}
              {% render 'single-post' article: article %}
            {% endfor %}
        {% else %}
            {% for _ in (1..section.settings.product_per_row) %}
                <div class="single-post">
                    <div class="image-area">
                        {{ 'image' | placeholder_svg_tag: 'demo-image slide-image' }}
                    </div>
                    <div class="post-details">
                        <div class="header-tags callout space-between">
                          <span class="authore">By OAK Themes</span>
                          <span class="date">February 22 2222</span>
                        </div>
                        <h3 class="subheadline">Blog Title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Enim bibendum ultrices ultricies in eu lorem nec...</p>
                        <a class="text-link underline" href="#">Read More</a>
                        <div class="footer-tags callout space-between">
                          <span class="tags">#Fashion</span>
                          <span class="views-comments">1 Comment</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="hidden-desktop text-center">
      <a class="button model-2 full" href="{{ section.settings.blog.url }}">{{ section.settings.button_label }}</a>
    </div>
  {% unless section.settings.full_width %}
  </div>
  {% endunless %}
</div>


{% schema %}
{
  "name": "t:sections.featured_posts.section_name",
  "settings": [
    {
      "type": "text",
      "label": "t:sections.all.heading",
      "default": "Featured posts",
      "id": "heading"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.all.heading",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.large"
        }
      ],
      "label": "t:sections.all.heading_font_size",
      "default": "large"
    },
    {
      "type": "richtext",
      "label": "t:sections.all.subheading",
      "default": "<p>Add subheading</p>",
      "id": "sub-heading"
    },
    {
      "type": "color",
      "id": "sub_title_color",
      "label": "t:sections.all.subheading",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.button_label",
      "default": "Visit News"
    },
    {
      "type": "range",
      "id": "product_per_row",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "itm",
      "label": "t:sections.all.column_per_row",
      "default": 3
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured_posts.select_blog"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "t:sections.all.img_size",
      "default": "one-one",
      "options": [
        {
          "value": "one-one",
          "label": "Square (1:1)"
        },
        {
          "value": "three-two",
          "label": "Landscape (3:2)"
        },
        {
          "value": "fout-three",
          "label": "Landscape (4:3)"
        },
        {
          "value": "sixteen-nine",
          "label": "Landscape (16:9)"
        },
        {
          "value": "two-three",
          "label": "Portrait (2:3)"
        },
        {
          "value": "three-four",
          "label": "Portrait (3:4)"
        },
        {
          "value": "nine-sixteen",
          "label": "Portrait (9:16)"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.all.image_fit",
      "default": "cover",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.image_contain"
        },
        {
          "value": "cover",
          "label": "t:sections.all.image_cover"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_pos",
      "label": "t:sections.all.image_position",
      "default": "center",
      "info": "t:sections.all.image_position_info",
      "options": [
        {
          "value": "top",
          "label": "t:sections.all.image_pos_top"
        },
        {
          "value": "center",
          "label": "t:sections.all.image_pos_center"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.image_pos_bot"
        }
      ]
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "t:sections.all.background_color",
      "default": "linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 100%)"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.background_image"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.section_padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.section_padding_bottom",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.make_section_full",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_authore",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "label": "Show comments",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "animation_onof",
      "label": "No animation",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_posts.section_name"
    }
  ]
}
{% endschema %}