{%- style -%}
{% unless section.settings.use_default_colors %}
  .section-{{ section.id }} {
    background-color: {{ section.settings.section_bg }};
  }
  .section-{{ section.id }} h3 {
    color: {{ section.settings.section_heading }};
  }
  .section-{{ section.id }} .text-area {
    color: {{ section.settings.section_text }};
  }
  .section-{{ section.id }} .button.media-text,
  .section-{{ section.id }} .button.media-text * {
    color: {{ section.settings.section_text }};
    stroke: {{ section.settings.section_text }};
  }
{% endunless %}
.section-{{ section.id }} .image-with-text {
  display: block;
  align-items: center;
  margin: 0 auto;
  max-width:  {{ section.settings.max_width }}%;
}
.section-{{ section.id }} .image-with-text .image-side {
  line-height: 0;
}
.section-{{ section.id }} .image-with-text .image-side img {
    width: 100%;
    height: auto;
}
.section-{{ section.id }} .image-with-text .image-side img.demo-image {
    max-height: 430px;
    min-height: 430px;
}
.section-{{ section.id }} .image-with-text .text-side {
  padding: 16px 0;
  row-gap: 16px;
  flex-direction: column;
  display: flex;
}
.section-{{ section.id }} .image-with-text.image-on-right .image-side {
    order: 2
}
@media only screen and (min-width: 767px) {
  .section-{{ section.id }} .image-with-text .text-side {
    padding: 0 {{ section.settings.text_width }}px;
    row-gap: 16px;
    flex-direction: column;
    display: flex;
  }
  .section-{{ section.id }} .image-with-text {
      display: flex;
      column-gap: {{ section.settings.row_gap }}px;
  }
  .section-{{ section.id }} .image-with-text .image-side {
      min-width: {{ section.settings.image_size }}%;
      max-width: {{ section.settings.image_size }}%;
  }
  .section-{{ section.id }} .image-with-text .image-side {
    margin-bottom: 0;
  }
}
{%- endstyle -%}
<div class="section-{{ section.id }} animation-test">
{% unless section.settings.full_width %}
<div class="wide-width">
{% endunless %}
<div class="image-with-text {{ section.settings.image_position }}">
    <div class="image-side full-on-mobile">
      {% if section.settings.image %}
        {{ section.settings.image | image_url: width: 1500 | image_tag: loading: 'lazy' }}
      {% else if %}
        {{ 'collection-4' | placeholder_svg_tag: 'demo-image ' }}
      {% endif %} 
    </div>
    <div class="text-side {{ section.settings.text_align }}">
        {% if section.blocks != empty %}
          {%- for block in section.blocks -%}
            {% case block.type %}
                {%- when 'heading' -%}
                <h3 class="{{ section.settings.heading_font_size }}" {{ block.shopify_attributes }}>
                    {{ block.settings.heading }}
                </h2>
                {%- when 'text' -%}
                <div class="text-area" {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                </div>
                {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    <div class="button-area" {{ block.shopify_attributes }}>
                      <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        role="link" aria-disabled="true"
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                        class="button text-link {{ block.settings.button_style }}"
                      >
                      {{ block.settings.button_label | escape }} {% if block.settings.button_style == "media-text" %}{% render "icon-right-arrow" %}{% endif %}
                      </a>
                    </div>
                  {%- endif -%}
              {%- endcase -%}
          {%- endfor -%}
        {% else %}
          <h2 class="{{ section.settings.heading_font_size }}">Image with text</h2>
          <div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
            <p>Use this space to tell your customers about your brand. Describe a product, share news, or greet visitors to your store.</p>
          </div>
          <a href="#">Read more</a>          
        {% endif %}
        
    </div>
</div>
{% unless section.settings.full_width %}
</div>
{% endunless %}
</div>
{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "range",
      "id": "image_size",
      "min": 20,
      "max": 80,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.img_size",
      "default": 50
    },
    {
      "type": "range",
      "id": "row_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Gap between image and text area",
      "default": 16
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 50,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.section_width",
      "default": 100
    },
    {
      "type": "range",
      "id": "text_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.text_gap_sides",
      "default": 32
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.large"
        }
      ],
      "label": "t:sections.all.heading_font_size",
      "default": "large"
    },
    {
      "type": "select",
      "id": "image_position",
      "options": [
        {
          "value": "image-on-left",
          "label": "t:sections.all.left"
        },
        {
          "value": "image-on-right",
          "label": "t:sections.all.right"
        }
      ],
      "default": "image-on-left",
      "label": "t:sections.all.image_position"
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.all.left"
        },
        {
          "value": "text-center",
          "label": "t:sections.all.center"
        },
        {
          "value": "text-right",
          "label": "t:sections.all.right"
        }
      ],
      "default": "text-left",
      "label": "Text align"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "t:sections.all.background_color"
    },
    {
      "type": "color",
      "id": "section_heading",
      "label": "Heading",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "section_text",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "use_default_colors",
      "label": "Use default colors",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.make_section_full",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Use this space to tell your customers about your brand. Describe a product, share news, or greet visitors to your store.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "model-1",
              "label": "t:settings_schema.typography.settings.colors.button_1_color_1"
            },
            {
              "value": "model-2",
              "label": "t:settings_schema.typography.settings.colors.button_2_color_1"
            },
            {
              "value": "model-3",
              "label": "t:settings_schema.typography.settings.colors.button_3_color_1"
            },
            {
              "value": "model-4",
              "label": "t:settings_schema.typography.settings.colors.button_4_color_1"
            },
            {
              "value": "media-text",
              "label": "only text"
            }
          ],
          "label": "t:sections.all.button_style",
          "default": "media-text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}