{%- style -%}
.login-page {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}
.login-left {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
}
.login-left .demo-image {
  height: 100%;
}
.login-right {
  width: 100%;
  padding-top: 240px;
}

.form-area {
  max-width: 664px;
  padding: 32px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #fff;
}
.form-area h2 {
  margin-bottom: 24px;
}
.form-area .rise-input {
  border: 1px solid #CBCBCB;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  padding: 13px 16px;
  width: 100%;
  margin-bottom: 24px;
}
.form-area .before-submit,
.create-account {
  margin-bottom: 16px;
}
.create-account * {
  margin-left: 6px;
}
.login-tab {
  display: none
}
.login-tab.active {
  display: block;
}

@media only screen and (min-width: 768px) {
  .login-left {
    position: relative;
  }
  .login-right {
    padding-top: 0;
  }
  .form-area {
    margin: auto;
  }
}
{%- endstyle -%}

<div class="login-page animation-test">
  <div class="login-left">
    {% if section.settings.image %}
      {{ section.settings.image | image_url: width: 1500 | image_tag: loading: 'lazy', class: 'demo-image' }}
    {% else if %}
      {{ 'collection-4' | placeholder_svg_tag: 'demo-image ' }}
    {% endif %} 
  </div>
  <div class="login-right">
    <div class="form-area">
      <div class="login-tab active" id="register-tab">
        <h2 class="large">
          {{ section.settings.form_title }}
        </h2>
        <div class="create-account">
          {{ section.settings.already_account_text }} <span class="underline text-link"><a href="/account/login" id="customer_register_link">Sign in</a></span>
        </div>
        {%- form 'create_customer', novalidate: 'novalidate' -%}
          {%- if form.errors -%}
            <p class="form__message" tabindex="-1" autofocus>
              {% render 'icon-plus' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </p>
            <ul>
              {%- for field in form.errors -%}
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#RegisterForm-{{ field }}">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
          <div class="field">
            <input
              type="text"
              name="customer[first_name]"
              id="RegisterForm-FirstName"
              {% if form.first_name %}
                value="{{ form.first_name }}"
              {% endif %}
              autocomplete="given-name"
              class="rise-input"
              placeholder="{{ 'customer.register.first_name' | t }}"
            >
          </div>
          <div class="field">
            <input
              type="text"
              name="customer[last_name]"
              id="RegisterForm-LastName"
              {% if form.last_name %}
                value="{{ form.last_name }}"
              {% endif %}
              autocomplete="family-name"
              class="rise-input"
              placeholder="{{ 'customer.register.last_name' | t }}"
            >
          </div>
          <div class="field">
            <input
              type="email"
              name="customer[email]"
              id="RegisterForm-email"
              {% if form.email %}
                value="{{ form.email }}"
              {% endif %}
              spellcheck="false"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-email-error"
              {% endif %}
              class="rise-input"
              placeholder="{{ 'customer.register.email' | t }}"
            >
          </div>
          {%- if form.errors contains 'email' -%}
            <span id="RegisterForm-email-error" class="form__message">
              <svg aria-hidden="true" focusable="false">
                <use href="#icon-error" />
              </svg>
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}.
            </span>
          {%- endif -%}
          <div class="field">
            <input
              type="password"
              name="customer[password]"
              id="RegisterForm-password"
              aria-required="true"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-password-error"
              {% endif %}
              class="rise-input"
              placeholder="{{ 'customer.register.password' | t }}"
            >
          </div>
          {%- if form.errors contains 'password' -%}
            <span id="RegisterForm-password-error" class="form__message">
              <svg aria-hidden="true" focusable="false">
                <use href="#icon-error" />
              </svg>
              {{ form.errors.translated_fields.password | capitalize }}
              {{ form.errors.messages.password }}.
            </span>
          {%- endif -%}
          <button class="button {{ section.settings.button_style }} full">
            {{ section.settings.button_text }}
          </button>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.register.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.register.image_picker"
    },
    {
      "type": "text",
      "id": "form_title",
      "label": "t:sections.register.form_title",
      "default": "Sign up."
    },
    {
      "type": "text",
      "id": "already_account_text",
      "label": "Already have an account text",
      "default": "Already have an account?"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "SIGN UP"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "model-1",
          "label": "t:settings_schema.typography.settings.colors.button_1_color_1"
        },
        {
          "value": "model-2",
          "label": "t:settings_schema.typography.settings.colors.button_2_color_1"
        },
        {
          "value": "model-3",
          "label": "t:settings_schema.typography.settings.colors.button_3_color_1"
        },
        {
          "value": "model-4",
          "label": "t:settings_schema.typography.settings.colors.button_4_color_1"
        }
      ],
      "label": "t:sections.all.button_style",
      "default": "model-2"
    }
  ],
  "presets": [
    {
      "name": "Register"
    }
  ]
}
{% endschema %}