{%- style -%}
.section-{{ section.id }} .google-map {
  height: {% if section.settings.full_height_mobil %} 100vh {% else %} {{ section.settings.collection_height_mobile }}px {% endif %};
}
.demo-map {
  height: {% if section.settings.full_height_mobil %} 100vh {% else %} {{ section.settings.collection_height_mobile }}px {% endif %};
  background: lightgray;
  width: 100%
}
@media only screen and (min-width: 640px) {
  .section-{{ section.id }} .google-map {
    height: {% if section.settings.full_height_desktop %} 100vh {% else %} {{ section.settings.collection_height }}px {% endif %};
  }
  .demo-map {
    height: {% if section.settings.full_height_desktop %} 100vh {% else %} {{ section.settings.collection_height }}px {% endif %};
    background: lightgray;
    width: 100%
  }
}
{%- endstyle -%}
<div class="google-map section-{{ section.id }}">
    {% unless section.settings.full_width %}
    <div class="wide-width">
    {% endunless %}
      {% if section.settings.latitude != blank %}
        <div id="googleMap" class="google-map" style="width:100%;"></div>
      {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'demo-map' }}
      {% endif %}
    {% unless section.settings.full_width %}
    </div>
    {% endunless %}
</div>


<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng({{- section.settings.latitude -}},{{- section.settings.longtitude -}}),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{- section.settings.google_api -}}&callback=myMap"></script>
{% schema %}
{
  "name": "Map",
  "settings": [
    {
      "type": "range",
      "id": "collection_height",
      "min": 500,
      "max": 1500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.section_height",
      "default": 640
    },
    {
      "type": "checkbox",
      "id": "full_height_desktop",
      "label": "Desktop full-height",
      "info": "If selected, this will override the section height slider for desktop",
      "default": false
    },
    {
      "type": "range",
      "id": "collection_height_mobile",
      "min": 300,
      "max": 800,
      "step": 20,
      "unit": "px",
      "label": "Mobile height",
      "default": 400
    },
    {
      "type": "text",
      "label": "Google API",
      "default": "Enter your api key",
      "id": "google_api"
    },
    {
      "type": "text",
      "label": "Latitude",
      "default": "48.86663925254111",
      "id": "latitude"
    },
    {
      "type": "text",
      "label": "Longtitude",
      "default": "2.3214594880416795",
      "id": "longtitude"
    },   
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.make_section_full",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Map"
    }
  ]
}
{% endschema %}